{
  "presets": ["es2015", "react"],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "firebase-functions": "./firebase-functions-mock/index.js",
            "config": "./app.config.json"
          }
        }],
        ["transform-define", "./.babel.rc.define.js"]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", {
          "alias": {
            "config": "./src/app.config.json"
          }
        }],
        ["transform-define", {
          "DEBUG": "false",
          "process.env.NODE_ENV": "production"
        }]
      ]
    }
  }
}
